@charset "utf-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer;outline:none;}
body{background:#22211f}
body,th,td,input,select,textarea,button{font-size:18px;line-height:1.5;font-family:'Marcellus',serif;color:#333}
a{color:#000;text-decoration:none;outline:none;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
::-webkit-input-placeholder{color:#b2b1b1}
:-moz-placeholder{color:#b2b1b1}
::-moz-placeholder{color:#b2b1b1}
:-ms-input-placeholder{color:#b2b1b1}

/* global */
#kakaoIndex{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0}
.ir_pm{display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%}
.ir_caption{overflow:hidden;width:1px;font-size:1px;line-height:0;text-indent:-9999px}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.show{display:block}
.hide{display:none}

/* common */
.img_g{display:block;width:100%;}
.btn_black{display:block;width:406px;margin:0 auto;border:1px solid #cb413e;box-sizing:border-box}
.btn_black .inner_btn{display:block;height:64px;margin:2px;font-weight:bold;line-height:66px;color:#fff;background:#cb413e;text-align:center}
.btn_black:hover{border-color:#c53835}
.btn_black:hover .inner_btn{color:#fbcd3f;background:#c53835}
.area_intro .wrap_upper_btn {padding-top:10px;position:relative;font-size:0;line-height:0;}
.wrap_upper_btn{font-size:0;line-height:0;text-align:center}
.wrap_upper_btn .btn_watch{width:300px;height:80px;display:inline-block;position:relative;right:50px;}
.wrap_upper_btn .btn_watch .img_watch{position:absolute;left:0px;width:69px;height:69px;display:inline-block;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/main/btn_watchtrailer.png) 0 0 no-repeat;opacity:0.7}
.wrap_upper_btn .btn_watch .txt_watch{position:relative;top:37px;left:30px;color:#fff;opacity:0.7;font-size:18px;}
.wrap_upper_btn .btn_watch.de {width:300px;}
.wrap_upper_btn .btn_watch.es {width:200px;}
.wrap_upper_btn .btn_watch.fr {width:350px;}
.wrap_upper_btn .btn_watch.en .txt_watch{left:80px;top:33px;}
.wrap_upper_btn .btn_watch.de .txt_watch{left:80px;top:30px;}
.wrap_upper_btn .btn_watch.fr .txt_watch{left:80px;line-height:20px;top:22px;}
.wrap_upper_btn .btn_watch.es .txt_watch{left:80px;top:34px;}
.wrap_btn{font-size:0;line-height:0;text-align:center}
.wrap_btn .btn_black{display:inline-block;margin:0 12px;vertical-align:top}
.wrap_btn .btn_black .inner_btn{font-size:20px}

.btn_cancel{border-color:#c9c9c9}
.btn_cancel .inner_btn{background:#c9c9c9}
.btn_cancel:hover{border-color:#bebebe}
.btn_cancel:hover .inner_btn{color:#fff;background:#bebebe}
.btn_regist{display:inline-block;width:234px;height:40px;font-weight:bold;font-size:17px;line-height:40px;color:#fff;background:#cb413e;text-align:center;box-sizing:border-box;vertical-align:top}
.btn_regist:hover{color:#f8cd40;background:#c63836}
.btn_regist.disabled{background-color:#ccc;cursor:default}
.btn_regist.disabled:hover{color:#fff}
.txt_num{font-family:'tahoma',sans-serif}
.txt_error{color:#c72b1e}
.txt_require{font-size:20px;color:#cb413e;vertical-align:-5px}
.txt_ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

/* images */
.img_black,
.slide_photo .slick-dots li:first-child:before,
.slide_photo .slick-dots li:last-child:after,
.news_body ul li:before,
.info_order .box_orderbox:before,
.detail_sale .info_order del:after,
.cont_payment .tbl_comm del:after,
.cont_login .list_reason li:before,
.cont_verification .tooltip_print:before,
.reward_layer .bg_edge,
.news_body .image .caption:before,
.news_body .image .caption:after{display:inline-block;background:url(../images/btn_sheet.png) 0 0 no-repeat;text-indent:-9999px;vertical-align:top}
.img_verification{display:inline-block;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/img_verification_180222.png) 0 0 no-repeat;text-indent:-9999px;vertical-align:top}
.cover_secret{display:inline-block;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/cover_secret.jpg) 0 0 no-repeat;text-indent:-9999px;vertical-align:top}
.img_method{display:inline-block;overflow:hidden;font-size:0;line-height:0;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/shop/img_method.png) 0 0 no-repeat;text-indent:-9999px}

/* layout */
#kakaoContent{min-width:1280px;padding-top:92px;box-sizing:border-box}
#cMain{background:#f2f4f7;}

/* HEADER */
.k_head{position:fixed;top:0;left:0;right:0;z-index:100;min-width:1760px;height:92px;background:#181a1f}
.inner_head{position:relative;width:1760px;height:92px;margin:0 auto}
.k_head .tit_black{position:absolute;top:26px;left:0}
#blackLogo{display:block;position:relative;top:-8px;width:185px;height:55px;background-image:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/main/logo_main_di.png);background-repeat:no-repeat;}
#kakaoGnb{height:92px;padding-left:249px}
.gnb_comm{float:left;height:92px;}
.gnb_comm li{float:left;position:relative}
.gnb_comm .link_gnb{display:block;padding:32px 30px 33px;font-weight:bold;font-size:18px;color:#929394}
.gnb_comm.fr .link_gnb{font-size:17px;}
.gnb_comm .link_gnb .ico_arr{width:16px;height:8px;margin:10px 0 0 8px;background-position:-160px 0}
.gnb_comm .link_gnb .ico_download{width:13px;height:11px;margin:9px 0 0 8px;background-position:-160px -10px}
.gnb_comm .gnb_sub .ico_link{width:12px;height:14px;margin:15px 0 0 8px;background-position:-160px -30px}
.gnb_comm .link_gnb:hover{color:#fff}
.gnb_comm .link_gnb:hover .ico_arr{background-position:-180px 0}
.gnb_comm .link_gnb_sub .ico_outlink{width:11px;height:11px;margin:15px 0 0 5px;background-position:-160px -30px}
.gnb_comm .link_gnb_sub:hover .ico_outlink{background-position:-180px -30px}
.gnb_comm .link_gnb .ico_link{width:12px;height:14px;margin:15px 0 0 8px;background-position:-160px -30px;position:relative;top:-7px;left:5px;}

.gnb_with{float:right;position:relative}
.gnb_with li{float:left}
.gnb_with .link_gnb{display:block;padding:32px 35px 33px;font-weight:bold;font-size:18px;color:#dd4441}
.gnb_with .link_gnb:hover{color:#ff5956}
.opt_language{position:relative;padding:35px 35px 33px;cursor:pointer}
.opt_language .link_selected{display:block;font-size:15px;line-height:24px;color:#5d6372}
.opt_language .ico_lang{width:19px;height:19px;margin:2px 5px 0 0;background-position:-200px 0}
.opt_language .txt_abbr{display:none}
.opt_language:hover .link_selected{color:#838b92}
.opt_language:hover .ico_lang{background-position:-200px -20px}
.opt_language:hover .box_opt{display:block}
.gnb_with .btn_buy{width:220px;margin:12px 0 0 35px}
.gnb_with .btn_buy .inner_btn{height:62px;font-size:20px;line-height:63px}
.gnb_with .link_sale{display:block;width:220px;margin-left:35px}
.gnb_with .link_sale .img_g{width:auto}
.gnb_sub, .opt_language .box_opt{display:none;position:absolute;top:73px;left:50%;min-width:180px;margin-left:-90px;padding:10px 0 11px;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/bg_menu.png) 0 0 no-repeat;background-color:#1c1e24;background-size:cover;text-align:center;box-shadow:3px 3px 9px rgba(0,0,0,.6)}
.gnb_sub .list_sub, .opt_language .list_opt{display:inline-block;padding:0 10px;text-align:left;vertical-align:top}
.gnb_sub{overflow:hidden}
.gnb_sub li, .opt_language li{float:none}
.gnb_sub .link_gnb_sub, .opt_language .link_option{display:block;height:41px;font-size:15px;line-height:41px;color:#999999;white-space:nowrap;text-transform: uppercase}
.gnb_sub .link_gnb_sub:hover, .opt_language .link_option:hover{color:#fff}
.gnb_sub .list_sub2{position:relative;display:block;padding:9px 0 10px}
.gnb_sub .list_sub2:before{display:block;position:absolute;top:0;left:-300px;right:-300px;bottom:0;background-color:#131418;content:''}
.gnb_sub .link_gnb_sub2{display:block;position:relative;padding:4px 0;font-size:14px;line-height:16px;color:#999999}
.gnb_sub .link_gnb_sub2 .txt_g{position:relative}
.gnb_sub li:hover .link_gnb_sub, .gnb_sub .link_gnb_sub2:hover{color:#fff}
.gnb_comm li:hover .gnb_sub, .gnb_with li:hover .gnb_sub, .opt_language:hover .box_opt{display:block}

a.anchor {display: block;position: relative;top: -160px;visibility: hidden;}

/* remaster */
.link_remaster{z-index:100;color:#cb413e;}
.link_remaster_solo {position:fixed;top:50%;right:14px;z-index:100;width:108px;height:108px;border:1px solid #cb413e;font-weight:bold;font-size:16px;line-height:19px;color:#cb413e;background:rgba(0,0,0,.82);text-align:center;padding-bottom:2px;}
.link_remaster .img_black{display:block;width:45px;height:40px;margin:14px auto 8px;background-position:-460px -340px}
.link_remaster_solo .img_black{display:block;width:45px;height:40px;margin:14px auto 8px;background-position:-460px -340px}
.link_remaster_solo .motion_try{position:absolute;top:-20px;right:80px;width:92px;height:92px;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/img_tryforfree_180222.png) 0 0 no-repeat;-webkit-animation:tryforfree .8s ease alternate infinite;animation:tryforfree .8s ease alternate infinite}
@keyframes link_remaster_solo{
	0%{-webkit-transform:translateY(5px);transform:translateY(5px)}
	100%{-webkit-transform:translateY(-5px);transform:translateY(-5px)}
}
.remaster_shorcut {font-size:15px;letter-spacing:0.1px;}
.link_between_line{width:100%;border:0.5px solid #cb413e;position:relative;top:10px;}

/* SLIDER (center type) */
.slide_center{overflow:hidden}
.slide_center .slick-list{overflow:visible}
.slide_center .link_slide{display:block;position:relative;width:400px;height:648px;margin:0 10px;-webkit-transition:all .3s;transition:all .3s}
.slide_center .link_slide.show_screenshot{cursor:pointer;}

/* slick slider prev, next buttons */
.slide_center .slick-arrow{position:absolute;top:50%;z-index:1;width:72px;height:72px;margin-top:-36px}
.slide_center .btn_prev{left:80px;background-position:0 0}
.slide_center .btn_prev:hover{background-position:0 -80px}
.slide_center .btn_next{right:80px;background-position:-80px 0;}
.slide_center .btn_next:hover{background-position:-80px -80px}

/* slick slider paging */
.slide_center .slick-dots{padding-top:22px;text-align:center}
.slide_center .slick-dots li{display:inline-block;height:4px;margin:0 6px 0 7px;vertical-align:top}
.slide_center .slick-dots .btn_page{display:block;width:46px;height:4px;background:#ccc;text-indent:-9999px}
.slide_center .slick-dots .slick-active .btn_page{background:#cb413e}

/* SLIDER (photo type) */
/* slick slider prev, next buttons */
.slide_photo{height:720px}
.slide_photo .slick-arrow{position:absolute;top:0;z-index:1;width:66px;height:100%}
.slide_photo .slick-arrow .img_black{display:block;width:34px;height:68px;margin:326px auto 0}
.slide_photo .btn_prev{left:0}
.slide_photo .btn_prev .img_black{background-position:-230px -90px}
.slide_photo .btn_next{right:0}
.slide_photo .btn_next .img_black{background-position:-270px -90px}

.photo{height:720px;}

/* slick slider paging */
.slide_photo .slick-dots{position:absolute;left:0;width:100%;bottom:23px;text-align:center}
.slide_photo .slick-dots li{display:inline-block;position:relative;height:23px;margin:0 6px 0 7px;vertical-align:top}
.slide_photo .slick-dots li:first-child:before,
.slide_photo .slick-dots li:last-child:after{position:absolute;top:8px;width:88px;height:8px;content:''}
.slide_photo .slick-dots li:first-child:before{left:-127px;background-position:0 -520px}
.slide_photo .slick-dots li:last-child:after{right:-127px;background-position:0 -530px}
.slide_photo .slick-dots .btn_page{display:block;width:23px;height:23px;background-position:-160px -130px}
.slide_photo .slick-dots .slick-active .btn_page{background-position:-190px -120px}

/* interaction */
.obj{opacity:0;-ms-transform:translate(0, 50px);-webkit-transform:translate(0, 50px);transform:translate(0, 50px);transition:transform .5s}
.scroll_on{opacity:1;-ms-transform:translate(0, 0);-webkit-transform:translate(0, 0);transform:translate(0, 0)}

/* CONTENTS */
.txt_date, .txt_time, .txt_gamepass_time{font-size:16px;line-height:1.5;color:#363636;font-family:'tahoma',sans-serif}
.txt_date .txt_bar, .txt_time .txt_bar{padding:0 10px;font-size:14px;color:#6a6a6a;vertical-align:top}
.bg_cover{width:100%;height:480px;background:50% 50% no-repeat;background-size:cover}
.detail_black{position:relative;width:1280px;margin:-126px auto 110px;box-sizing:border-box}
.detail_black.reward_layer{width:980px;}
.detail_black .wrap_tit{position:absolute;top:-90px;left:0;right:0}
.detail_black .tit_detail{position:relative;font-size:44px;color:#fff}
.detail_black .tit_detail .img_black{position:absolute;top:24px;left:-41px;width:19px;height:21px;background-position:-370px -120px}
.detail_black .tit_detail:after{position:absolute;top:34px;left:-1041px;width:1000px;height:2px;background:#fff;content:''}
.paging_comm{padding-top:72px;font-size:0;line-height:0;text-align:center}
.paging_comm .inner_paging{display:inline-block}
.paging_comm .btn_prev, .paging_comm .btn_next{display:inline-block;width:57px;height:58px;vertical-align:top}
.paging_comm .btn_prev .img_black, 	 .btn_next .img_black{display:block;width:11px;height:22px;margin:18px auto 0}
.paging_comm .btn_prev .img_black{background-position:-390px -120px}
.paging_comm .btn_next .img_black{background-position:-410px -120px}
.paging_comm .page_item.on .page_link, .paging_comm .page_link:hover{color:#fff;background:#cb413e}
.paging_comm .page_link{display:inline-block;width:58px;height:58px;font-size:18px;line-height:58px;font-family:'tahoma', sans-serif;color:#363636;text-align:center;vertical-align:top}
.paging_comm .link_page:hover{color:#ca413e}
.paging_comm .link_page.on{color:#fff;background:#cb413e}
.paging_board{position:relative;height:26px;margin-top:68px;font-size:24px;line-height:26px;text-align:center}
.paging_board a{color:#1f1f1f}
.paging_board a:hover{color:#cb413e}
.paging_board .btn_prev{position:absolute;top:0;left:10px}
.paging_board .btn_prev .img_black{float:left;width:13px;height:26px;margin-right:17px;background-position:-370px -150px}
.paging_board .btn_prev:hover .img_black{background-position:-410px -150px}
.paging_board .btn_next{position:absolute;top:0;right:10px}
.paging_board .btn_next .img_black{float:right;width:13px;height:26px;margin-left:17px;background-position:-390px -150px}
.paging_board .btn_next:hover .img_black{background-position:-430px -150px}
.paging_board .btn_list{display:inline-block;vertical-align:top}
.paging_board .btn_list .img_black{width:18px;height:12px;margin:7px 17px 0 0;background-position:-430px -120px}
.paging_board .btn_list:hover .img_black{background-position:-450px -120px}
.detail_black .tit_group{font-size:30px;color:#010101}
.group_detail{overflow:hidden;margin:21px 0 79px;background-image:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/line_tartan.png), url(https://akamai-webcdn.kgstatic.net/renewal/static/images/line_tartan.png);background-position:0 0, 0 100%;background-repeat:no-repeat}
.group_info{padding:27px 0 29px 10px;font-size:17px;line-height:30px;color:#575757}
.group_info a{font-weight:bold;color:#337ab7;text-decoration:underline}
.detail_black .list_regist{display:table;width:100%;table-layout:fixed}
.detail_black .list_regist dt, .detail_black .list_regist dd{padding:3px 10px 4px;font-size:19px;line-height:44px}
.detail_black .list_regist dt{display:table-cell;width:195px;font-weight:bold;color:#272727;vertical-align:top}
.detail_black .list_regist .lab_comm{display:inline-block;padding-top:6px}
.detail_black .list_regist dt.lab_comm{display:table-cell;padding-top:13px}
.detail_black .list_regist dd{display:table-cell;position:relative;color:#6f6f6f}
.item_thumb{position:relative;width:148px;height:148px;margin:0 auto}
.tit_item{display:block;padding-top:14px;font-weight:normal;font-size:20px;line-height:26px;color:#181a1f;text-align:center}
.item_thumb .ico_item{display:block;width:148px;height:148px;border-radius:50%;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/shop/ico_item_181122.png) 0 0 no-repeat;background-color:#f0f0f0;text-indent:-9999px}/* 2018-02-22 수정 */
.item_thumb .ico_webitem, .item_thumb .ico_costume{background-position:0 -300px}
.item_thumb .ico_coin{background-position:0 -150px}
.item_thumb .ico_general{background-position:0 0}
.item_thumb .ico_pass{background-position:0 -450px}
.item_thumb .ico_beauty{background-position:0 -1050px}
.item_thumb .ico_horse{background-position:0 -1200px}
.item_thumb .ico_housing{background-position:0 -600px}
.item_thumb .ico_pet{background-position:0 -900px}
.item_thumb .ico_functional{background-position:0 -750px}
.item_thumb .ico_cash10{background-position:-300px 0}
.item_thumb .ico_cash20{background-position:-300px -150px}
.item_thumb .ico_cash30{background-position:-300px -300px}
.item_thumb .ico_cash60{background-position:-300px -450px}
.item_thumb .ico_cash100{background-position:-300px -600px}
.item_thumb .ico_pk1{background-position:-600px 0}
.item_thumb .ico_pk2{background-position:-600px -150px}
.item_thumb .ico_pk3{background-position:-600px -300px}
.item_thumb .ico_pkup1{background-position:-600px -450px}
.item_thumb .ico_pkup2{background-position:-600px -600px}
.item_thumb .ico_pkup3{background-position:-600px -750px}
.item_thumb .ico_giftpass{background-position:-600px -900px}
.item_thumb .ico_kakaocash{background-position:-312px -750px}
.item_thumb .ico_guardian_package{display:block;width:148px;height:148px;border-radius:50%;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/shop/ico_item_guardian_package.png) 0 0 no-repeat;background-color:#f0f0f0;text-indent:-9999px}
.item_thumb .ico_guardian_package{background-position:0px 0px}
.off .ico_webitem, .off .ico_costume{background-position:-150px -300px}
.off .ico_coin{background-position:-150px -150px}
.off .ico_general{background-position:-150px 0}
.off .ico_pass{background-position:-150px -450px}
.off .ico_beauty{background-position:-150px -1050px}
.off .ico_mount{background-position:-150px -1200px}
.off .ico_housing{background-position:-150px -600px}
.off .ico_pet{background-position:-150px -900px}
.off .ico_functional{background-position:-150px -750px}
.off .ico_1000cash{background-position:-450px 0}
.off .ico_2000cash{background-position:-450px -150px}
.off .ico_3000cash{background-position:-450px -300px}
.off .ico_6000cash{background-position:-450px -450px}
.off .ico_10000cash{background-position:-450px -600px}
.off .ico_pk1{background-position:-750px 0}
.off .ico_pk2{background-position:-750px -150px}
.off .ico_pk3{background-position:-750px -300px}
.off .ico_pkup1{background-position:-750px -450px}
.off .ico_pkup2{background-position:-750px -600px}
.off .ico_pkup3{background-position:-750px -750px}
.off .ico_giftpass{background-position:-750px -900px}
.off .ico_kakaocash{background-position:-462px -750px}
.off .ico_guardian_package{background-position:-148px 0px}
.group_set .txt_error{display:none;font-size:16px;line-height:33px}
.group_set.error .txt_error{display:block}
.box_tf{display:inline-block;overflow:hidden;position:relative;height:54px;border:1px solid #ccc;vertical-align:top}
.box_tf .tf_comm{display:block;width:100%;padding:13px 26px;font-size:19px;color:#272727;border:0 none;box-sizing:border-box}
.box_tf .ico_error{display:none;position:absolute;top:15px;right:15px;width:24px;height:24px;background-position:-450px -150px}
.error .box_tf{border-color:#c72b1e}
.error .box_tf .tf_comm{padding-right:54px}
.error .ico_error{display:block}
.confirm .ico_error{display:block;background-position:-420px -290px}
.none_data{padding:50px 0 41px;font-size:19px;color:#b2b1b1;text-align:center}
.none_data .img_black{display:block;width:94px;height:94px;margin:0 auto 14px;background-position:-340px -320px}
.tbl_comm{width:100%;margin:4px 0;table-layout:fixed;border-collapse:collapse}
.tbl_comm th, .tbl_comm td{text-align:center}
.tbl_comm th{height:58px;border-left:1px solid #e1e2e4;font-weight:bold;color:#1f1f1f;background:#fcfcfc}
.tbl_comm td{border-top:1px solid #e1e2e4;border-left:1px solid #e1e2e4;font-size:19px;line-height:30px;color:#6f6f6f}
.tbl_comm th:first-child, .tbl_comm td:first-child{border-left:0 none}
.tbl_rewards td{height:55px;font-size:17px;line-height:28px}
.tbl_rewards .btn_regist{width:207px;height:41px;font-size:15px;line-height:41px}
.choice_comm{position:relative}
.choice_comm .lab_comm{display:inline-block;font-size:17px;line-height:28px;cursor:pointer;vertical-align:top}
.choice_comm .lab_comm a{font-weight:bold;color:#337ab7}
.choice_comm .lab_comm .img_black{position:absolute;top:0;left:0;pointer-events:none}
.choice_comm .inp_comm{position:absolute;top:0;left:0;z-index:-1;width:28px;height:28px;border:0 none;opacity:0.01;filter:alpha(opacity=1);-webkit-appearance:none}
.choice_check .lab_comm{padding-left:47px}
.choice_check .lab_comm .img_black{width:28px;height:28px;background-position:-320px -180px}
.choice_check .inp_comm:checked + .lab_comm .img_black{background-position:-350px -180px}
.choice_radio .lab_comm{padding-left:28px}
.choice_radio .lab_comm .img_black{top:50%;width:18px;height:18px;margin-top:-9px;background-position:-470px -220px}
.choice_radio .inp_comm{top:50%;width:18px;height:18px;margin-top:-9px}
.choice_radio .inp_comm:checked + .lab_comm .img_black{background-position:-450px -220px}
.opt_comm{position:relative;width:342px;height:54px;margin:5px 0 4px;border:1px solid #ccc;background:#fff}
.opt_comm .link_selected{display:block;overflow:hidden;position:relative;height:54px;padding:0 77px 0 22px;line-height:54px;color:#272727;white-space:nowrap;text-overflow:ellipsis}
.opt_comm .link_selected .ico_arr{position:absolute;top:22px;right:16px;width:22px;height:11px;background-position:-410px -180px}
.opt_comm .box_opt{display:none;position:absolute;top:54px;left:-1px;right:-1px;z-index:10;border:1px solid #ccc;background:#fff}
.opt_comm .box_opt li{border-top:1px solid #ccc}
.opt_comm .list_opt li:first-child{border-top:0 none}
.opt_comm .box_opt .link_option{display:block;padding:0 22px;font-size:18px;line-height:54px;color:#272727;cursor:pointer;}
.opt_comm .box_opt .link_option.disabled{color:#ccc;cursor:default;}
.opt_comm .box_opt .on .link_option, .opt_comm .box_opt .link_option.enabled:hover{color:#444;background:#F6F7FA}
.opt_open .box_opt{display:block}
.error .opt_comm{border-color:#c72b1e}
.error .opt_comm .link_selected:after{background:#c72b1e}
.desc_gift .tit_gift{display:block;position:relative;top:-25px;padding:5px 0 0 2px;font-weight:normal;font-size:17px;line-height:28px;color:#6f6f6f}
.desc_gift .list_gift li{position:relative;top:-22px;padding-left:17px;font-size:16px;line-height:26px;color:#6f6f6f}
.desc_gift .list_gift.es li {font-size:15px;}
.desc_gift .list_gift li:before{position:absolute;top:0;left:0;width:6px;color:#6f6f6f;content:'-'}
.desc_gift .img_gift{display:block;vertical-align:top}
.box_gift{height:51px;margin-left:-3px;padding-bottom:58px;font-size:20px;line-height:51px;vertical-align:top}
.box_gift .item_gift{display:inline-block;position:relative;width:51px;height:51px;padding:0 2px}
.box_gift .item_gift .txt_item{position:absolute;top:51px;left:50%;padding-top:4px;font-size:16px;line-height:18px;color:#5e5e5e;white-space:nowrap;-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);text-align:center}
.box_gift .item_gift .txt_item.fr{letter-spacing:-0.5px}
.box_gift .txt_gift{display:inline-block;font-weight:bold;vertical-align:top}
.box_gift .txt_or{display:inline-block;font-weight:bold;font-size:17px;padding:0 9px;vertical-align:top}
.box_gift .ico_plus{width:12px;height:12px;margin:20px 15px 0 3px;background-position:-440px -180px}
.box_login{display:table;width:100%;height:177px;text-align:center;table-layout:fixed}
.box_login .inner_login{display:table-cell;padding-bottom:2px;vertical-align:middle}
.box_login .txt_info{margin-bottom:16px;font-size:20px;line-height:24px}
.box_login .inner_btn{font-size:20px}

/* TOP */
/* INTRO (cSub) */
.main_intro{position:relative;height:762px;overflow:hidden}
.main_intro.on{top:74px;}
.intro_black{position:absolute;width:100%;height:762px;background:url("../images/background_header.png") 0 0 no-repeat; background-size: cover;}
.area_intro{position:absolute;bottom:0;left:0;width:100%;}
.intro_black .back_intro{position:relative;margin:0 auto;width:100%;height:762px;top:35px;}
.area_intro .tit_black{display:block;margin:20px auto 0px;width:900px;}
.area_intro .tit_black{color:#fff;font-size:80px;font-family:Marcellus;}
.area_intro.de .tit_black {width:1100px;font-size:70px;}
.area_intro.fr .tit_black {width:1100px;font-size:70px;}
.area_intro.es .tit_black {width:350px;}
.area_intro .desc_intro{font-size:20px;line-height:20px;color:#ffffff;text-align:center;letter-spacing:0.5px;position:relative;top:0px;font-family:Marcellus;}
.area_intro .intro_date{font-size:24px;line-height:24px;color:#ffffff;text-align:center;letter-spacing:0.5px;position:relative;top:0px;color:#fff;font-family:Marcellus;}
.area_intro .intro_date .prefix {display:inline-block;width:65px;height:5px;margin-bottom:10px;background:url("../../../akamai-webcdn.kgstatic.net/renewal/static/images/main/ic_line_left_190724.png") 0 0 no-repeat;position:relative;top:5px;margin-right:18px;}
.area_intro .intro_date .suffix {display:inline-block;width:65px;height:5px;margin-bottom:10px;background:url("../../../akamai-webcdn.kgstatic.net/renewal/static/images/main/ic_line_right_190724.png") 0 0 no-repeat;position:relative;top:5px;margin-left:18px;}
.area_intro .wrap_btn{padding-top:31px;position:relative;font-size:0;line-height:0;text-align:center}
.area_intro .btn_black{display:inline-block;width:348px;position:relative;margin:0 12px;vertical-align:top;-webkit-transition:all .3s;transition:all .3s}
.area_intro .btn_black:hover{-ms-transform:translateY(-6px);-webkit-transform:translateY(-6px);transform:translateY(-6px)}
.area_intro .btn_black .inner_btn{height:66px;margin:3px;border:1px solid #cb413e;font-size:20px;line-height:66px}
.area_intro .btn_black.btn_buy .inner_btn{font-weight:normal;}
.area_intro .btn_trailer .inner_btn{color:#cb413e;background:none}
.area_intro .btn_meet .inner_btn{color:#cb413e;background-color:rgba(0,0,0,.82)}
.area_intro .btn_trailer:hover .inner_btn{background:rgba(0,0,0,.4)}
.area_intro .link_next{display:block;width:100px;height:78px;margin:0 auto;text-align:center}
.area_intro .link_next .img_black{width:30px;height:15px;margin-top:33px;background-position:-160px -50px}
.area_intro .link_next:hover .img_black{background-position:-160px -70px}
.intro_black .bg_video{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%}
.intro_black .inner_video{position:absolute;top:50%;left:50%;right:0;bottom:0;min-width:100%;min-height:100%;transform:translate(-50%,-50%)}
.intro_black .bg_main_img{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;background-image:url('../../../akamai-webcdn.kgstatic.net/renewal/static/images/main/main_guardian.jpg');background-repeat:no-repeat;background-size:cover}
.area_intro .tit_title{margin-left:200px;font-size:80px;color:white;letter-spacing:5px;}
.area_intro .tit_title.FR{margin-left:122px;font-size:74px;margin-top:0px;letter-spacing:3px;}
.area_intro .tit_title.DE{margin-left:199px;font-size:80px;margin-top:0px;letter-spacing:3px;}
.area_intro .tit_title.ES{margin-left:128px;font-size:80px;margin-top:0px;letter-spacing:5px;}
.area_intro .intro_under {color:#fff;font-size:23px;font-family:Marcellus;position:relative;margin:-10px auto;width:320px;}
.area_intro.es .intro_under {left:30px;width:370px;}
.area_intro.fr .intro_under {width:370px;left:30px;}
.area_intro.de .intro_under {width:420px;left:30px;}


/* TOP MAIN (cMain) */
.tit_article{padding-bottom:23px;font-size:40px;color:#181a1f;background:url(../images/line_title.png) 50% 100% no-repeat;text-align:center}

/* LATEST NEWS */
.black_news{position:relative;height:auto;z-index:10}
.black_news .tit_article{padding-top:90px}
.black_news .slide_center{padding-top:124px}
.black_news .link_slide{height:574px}
.black_news .slick-active .link_slide, .black_news .link_slide:hover, .black_news .slick-slide:hover .link_slide{box-shadow:8px 8px 12px rgba(0,0,0,.2);-ms-transform:translateY(-70px);transform:translateY(-70px)}
.black_news .slick_hover{box-shadow:8px 8px 12px rgba(0,0,0,.2);-ms-transform:translateY(-70px);transform:translateY(-70px)}
.black_news .slick-arrow{top:305px;margin-top:0}
.black_news .txt_category{position:absolute;top:0;right:0;width:176px;height:32px;font-size:15px;line-height:32px;color:rgba(255,255,255,.8);text-align:center}
.black_news .txt_category.update{background:rgba(48,99,76,.56)}
.black_news .txt_category.maintenance{background:rgba(43,14,151,.56)}
.black_news .txt_category.announcement{background:rgba(14,104,151,.56)}
.black_news .txt_category.event{background:rgba(185,47,44,.56)}
.black_news .txt_category.newsbanner{background:rgba(25,36,133,.56)}
.black_news .desc_news{position:absolute;bottom:0;left:0;right:0;height:236px;padding:0 33px;background:#fff}
.black_news .desc_news:before{position:absolute;top:-10px;left:0;right:0;height:10px;background:url(../images/deco_top.png) 0 0 no-repeat;content:'';}
.black_news .desc_news .subject_news{display:block;display:-webkit-box;overflow:hidden;height:88px;padding-top:42px;font-size:32px;line-height:44px;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;-webkit-transition:all .3s;transition:all .3s}
.slick-active .link_slide .subject_news, .link_slide:hover .subject_news{color:#cb413e}
.black_news .desc_news .txt_date, .black_news .desc_news .txt_time{padding-top:23px;font-size:17px;position:absolute}
.black_news .desc_news .txt_bar{line-height:23px}
.black_news .link_more{position:absolute;top:95px;right:50%;margin-right:-640px;font-weight:bold;font-size:19px}
.black_news .link_more .img_black{width:9px;height:16px;margin:5px 0 0 10px;background-position:-200px -40px}

/* KEY FEATURES */
.black_feature{overflow:hidden;position:relative}
.black_feature .inner_feature{width:1280px;height:auto;margin:0 auto;margin-top: 10vh; margin-bottom: 5vh;}
.black_feature .tit_article{display:inline-block;padding-right:269px;padding-bottom:0;font-size:60px;background:url(../images/line_title_type2.png) 100% 50% no-repeat;text-align:left}
.black_feature .list_feature li{position:relative;margin-top:16px}
.black_feature .tit_feature{display:block;font-size:24px;color:#383737}
.black_feature .tit_feature a {color:#1f7eba;}
.black_feature .tit_feature .img_black{position:absolute;left:0;top:10px;height:16px}
.black_feature .tit_feature .img_num1{width:20px;background-position:-430px 0}
.black_feature .tit_feature .img_num2{width:22px;background-position:-460px 0}
.black_feature .tit_feature .img_num3{width:21px;background-position:-430px -20px}
.black_feature .tit_feature .img_num4{width:23px;background-position:-460px -20px}
.black_feature .tit_feature .img_num5{width:21px;background-position:-430px -40px}
.black_feature .desc_feature{padding-top:2px;line-height:25px;color:#626262}
.black_feature .bg_feature{position:absolute;top:0;left:50%;z-index:-1;}
.black_feature .img_feature{position:absolute}
.black_feature .group_feature1{position:relative;padding-left:3px}
.black_feature .group_feature1 .list_feature{padding:10px 0 0 7px;width:720px}
.black_feature .group_feature1 .bg_feature{top:-314px;width:2309px;height:708px;margin-left:-1280px;}
.black_feature .group_feature1 .img_feature{top:21px;left:-638px;width:580px;height:387px}
.black_feature .group_feature2{position:relative;padding:111px 0 0 536px}
.black_feature .group_feature2 .list_feature{width:509px}
.black_feature .group_feature2 .bg_feature{top:53px;width:2078px;height:520px;margin-left:-798px;}
.black_feature .group_feature2 .img_feature{top:129px;right:-640px;width:844px;height:261px}
.black_feature .list_video{display: grid;grid-auto-columns: 1fr;grid-auto-rows: 1fr;grid-template-columns: 1fr 1fr 1fr;gap: 15px;overflow:hidden;}
.black_feature .list_video li{grid-area: auto;}
.black_feature .list_video_title{margin-top: 5vh;font-weight: bold; color: black;}
.black_feature .list_video .link_video{display:block;overflow:hidden;position:relative;width:410px;height:230px}
.black_feature .list_video .img_g{-webkit-transition:all .3s;transition:all .3s}
.black_feature .list_video .bg_dimmed{position:absolute;top:0;bottom:0;left:0;right:0;background:#000;opacity:.3;border: 10px solid white;}
.black_feature .list_video .txt_video{position:absolute;top:159px;left:0;width:100%;font-size:16px;color:#fff;text-align:center}
.black_feature .list_video .ico_play{position:absolute;top:95px;left:50%;width:88px;height:88px;margin-left:-44px;background:url(../images/btn_play.png) 0 0 no-repeat;text-indent:-9999px;-webkit-transition:all .3s;transition:all .3s}
.black_feature .link_video:hover .img_g{-webkit-transform:scale(1.1);transform:scale(1.1)}
.black_feature .link_video:hover .ico_play{background-image:url(../images/btn_play_hover.png)}

/* NEWS */
.cont_news .detail_black{margin-bottom:78px}
.cont_news .bg_cover{background-image:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/cover_news_480.jpg)}
.cont_news .tit_detail{float:left}
.list_category{float:right;padding-top:22px}
.list_category:after{display:block;clear:both;content:''}
.list_category li{float:left;position:relative;margin-left:-1px}
.list_category li:before{position:absolute;top:8px;left:0;width:1px;height:12px;background:#fff;content:''}
.list_category li:first-child:before,
.list_category li.on:before, .list_category li.on + li:before,
.list_category li:hover:before, .list_category li:hover + li:before{display:none;}
.list_category .link_category{display:block;height:29px;padding:0 31px;font-size:17px;line-height:29px;color:#fff}
.list_category .on .link_category, .list_category .link_category:hover{height:27px;padding:0 30px;border:1px solid #cb413e;line-height:27px;background:#cb413e}
.list_news li{padding-top:30px}
.list_news li:first-child{padding-top:0}
.list_news .link_news{display:block;position:relative;height:342px;background:#fff;-webkit-transition:all .3s;transition:all .3s}
.list_news .link_news:hover{box-shadow:8px 8px 12px rgba(0,0,0,.2)}
.list_news .thumb_news{display:block;width:592px;height:342px}
.list_news .thumb_news img{width:592px;height:342px}
.list_news .cont_news{position:absolute;top:0;bottom:0;right:0;width:617px;padding:0 37px;background:#fff}
.list_news .cont_news:before{position:absolute;top:0;left:-8px;width:8px;height:342px;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/deco_news2.png) 0 0 no-repeat;content:''}
.list_news .subject_news, .list_news .desc_news{display:block;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical}
.list_news .subject_news{height:78px;padding-top:50px;font-size:31px;line-height:39px;color:#010101;-webkit-line-clamp:2;-webkit-transition:all .3s;transition:all .3s}
.list_news .link_news:hover .subject_news{color:#cb413e}
.list_news .desc_news{height:90px;padding-top:24px;font-size:17px;line-height:30px;color:#6f6f6f;-webkit-line-clamp:3}
.list_news .txt_date{padding-top:28px}
.cont_news .paging_comm{padding-bottom:52px}
.view_news{padding:105px 90px 91px;font-size:17px;color:#575757;background:#fff}
.view_news .subject_news{font-size:48px;line-height:60px;color:#010101;text-align:center}
.view_news .txt_date, .view_news .txt_time{padding-top:35px;text-align:center}
.view_news .txt_time{display:block;}
.view_news .news_body{padding-top:72px}
.news_body a{font-weight:bold;color:#337ab7;text-decoration:underline}
.news_body b{color:#404040}
.news_body p{line-height:30px}
.news_body img{max-width:100%;vertical-align:middle}
.news_body table{margin:20px 0 30px;border-collapse:collapse;table-layout:fixed}
.news_body table td{padding:10px 0 11px;border:1px solid #bfbfbf;font-size:16px;color:#575757;text-align:center;word-break:break-word}/* 2018-02-22 수정 */
.news_body ul{padding:0 0 0 15px;margin-bottom:0}
.news_body ul li{position:relative;padding:19px 0 0 21px;line-height:27px}
.news_body ul li:before{position:absolute;top:26px;left:0;width:13px;height:13px;background-position:-460px -180px;content:''}
.news_body ul ul{padding:0 0 0 6px;margin-bottom:0}
.news_body ul ul li{padding:4px 0 4px 15px}
.news_body ul ul li:before{top:14px;width:6px;height:6px;background-position:-480px -180px}
.news_body ul ul ul{padding:0 0 0 15px;margin-bottom:-3px}
.news_body ul ul ul li{padding:1px 0 2px 12px}
.news_body ul ul ul li:before{top:14px;width:6px;height:1px;background-image:none;background-color:#525657;content:'-'}
.news_body ul + .title{margin-top:49px}
.news_body .image{margin:55px -120px;text-align:center}
.news_body .image:first-child{margin-top:0}
.news_body .image:last-child{margin-bottom:0}
.news_body .image .caption{display:inline-block;position:relative;margin-top:30px;padding:0 111px;font-size:18px;color:#1f1f1f;vertical-align:top}
.news_body .image .caption:before, .news_body .image .caption:after{position:absolute;top:50%;width:88px;height:8px;margin-top:-3px;content:''}
.news_body .image .caption:before,
.news_body .image .caption:after{display:inline-block;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/img_black_180228.png) 0 0 no-repeat;text-indent:-9999px;vertical-align:top}
.news_body .title{position:relative;margin:70px 0 45px;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/line_newsview.png) 50% 50% no-repeat;text-align:center}
.news_body .title:first-child{margin-top:0}
.news_body .title:last-child{margin-bottom:0}
.news_body .title b{display:inline-block;position:relative;margin:0;padding:0 36px;font-size:26px;color:#222;background-image:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/deco_newsview.png), url(https://akamai-webcdn.kgstatic.net/renewal/static/images/deco_newsview.png);background-repeat:no-repeat;background-position:0 50%, 100% 50%;background-color:#fff;vertical-align:top}
.news_body em {font-style: italic;font-weight: unset}
.news_body .anchor{display: block;position: relative;top: -92px;visibility: hidden;}

/* FOLLOW US */
.black_follow{height:150px;background:#292929;text-align:center}
.black_follow .tit_follow{display:inline-block;padding:65px 0 0 12px;font-weight:normal;font-size:19px;color:rgba(255,255,255,.8);vertical-align:top}
.black_follow .list_sns{display:inline-block;overflow:hidden;padding:38px 0 0 31px;vertical-align:top}
.black_follow .list_sns li{float:left;margin:0 18px}
.black_follow .img_black{display:block;width:74px;height:74px}
.black_follow .link_facebook{background-position:0 -160px}
.black_follow .link_facebook:hover{background-position:0 -240px}
.black_follow .link_twitter{background-position:-80px -160px}
.black_follow .link_twitter:hover{background-position:-80px -240px}
.black_follow .link_youtube{background-position:-160px -160px}
.black_follow .link_youtube:hover{background-position:-160px -240px}
.black_follow .link_instagram{background-position:-240px -160px}
.black_follow .link_instagram:hover{background-position:-240px -240px}
.black_follow .link_twich{background-position:0px -676px}
.black_follow .link_twich:hover{background-position:-80px -676px}
.black_follow .link_discord{background-position:-214px -676px;width:78px;}
.black_follow .link_discord:hover{background-position:-294px -676px;width:78px;}

/* footer */
.k_foot{height:254px;background:#22211f}
.inner_foot{overflow:hidden;width:1280px;margin:0 auto}
.k_foot .info_pegi{float:left;padding-top:82px}
.k_foot .info_company{float:left;padding:75px 0 0 20px}
.k_foot .info_company .link_info{font-size:19px;color:#d3d3d2}
.k_foot .info_company .link_info.de{font-size:16px}
.k_foot .info_company .link_info.fr{font-size:14px}
.k_foot .info_company .link_info.es{font-size:17px}
.k_foot .info_company .txt_bar{padding:0 17px;font-size:14px;line-height:26px;color:#ababab;vertical-align:top}
.k_foot .info_company .txt_bar.de,
.k_foot .info_company .txt_bar.fr,
.k_foot .info_company .txt_bar.es{padding:0}
.k_foot .info_company .txt_copyright{display:block;padding-top:13px;font-size:16px;color:#656463}
.k_foot .info_company .txt_copyright.fr{font-size:12px}
.k_foot .info_company .link_kakaogames{color:#656463}
.k_foot .logo_foot{float:right;padding-top:81px}
.k_foot .logo_foot img{float:left;margin-left:32px;width:auto;}
.k_foot .logo_foot img:first-child{margin-left:0}

@media (max-width: 1800px) {
	.k_head{min-width:1280px}
	.inner_head{width:1280px}
	.k_head .tit_black{top:28px}
	#kakaoGnb{padding-left:200px}
	.gnb_comm{max-width:608px;}
	.gnb_comm .link_gnb{padding:34px 21px;font-size:16px;}
	.gnb_comm .link_gnb .ico_arr{margin-top:8px}
	.gnb_comm .link_gnb .ico_download{margin-top:7px}
	.gnb_comm .link_gnb .ico_link {left:-2px;top:-9px;}
	.gnb_with{max-width:550px;}
	.gnb_with .link_gnb{padding:34px 10px;font-size:16px}
	.gnb_with .link_gnb:hover{color:#c53835}
	.gnb_with .btn_buy .inner_btn{font-size:19px;}
	.opt_language{padding:35px 5px 33px 5px}
	.opt_language .txt_lang{display:none}
	.opt_language .txt_abbr{display:inline-block}
	.gnb_with .btn_buy{margin-left:5px}
	.gnb_with .link_sale{margin-left:15px}
}

@media (min-width: 1801px) {
	#kakaoGnb {padding-left: 226px;}
}

/* video */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:visible;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxOverlay{background:#000;}
#colorbox{outline:0;cursor:auto;}
#cboxContent{margin-top:0px;background:#000;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{border:5px solid #000; background:#fff;}
#cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
#cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
#cboxClose{position:absolute;width:45px;height:45px;top:-45px;right:0px;background:url(../images/btn_close.png);text-indent:-9999px}
#video_overlays {
  position: absolute;
  background: url('../images/dot.png');
  width: 100%;
  height: 100%;
  padding: 0 0;
  z-index: -10;
}

a.pp_hiperlink {text-decoration: underline;}