@charset "utf-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer;outline:none;}
body{background:#22211f}
body,th,td,input,select,textarea,button{font-size:18px;line-height:1.5;font-family:'Marcellus',serif;color:#333}
a{color:#000;text-decoration:none;outline:none;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
::-webkit-input-placeholder{color:#b2b1b1}
:-moz-placeholder{color:#b2b1b1}
::-moz-placeholder{color:#b2b1b1}
:-ms-input-placeholder{color:#b2b1b1}

/* global */
#kakaoIndex{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0}
.ir_pm{display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%}
.ir_caption{overflow:hidden;width:1px;font-size:1px;line-height:0;text-indent:-9999px}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.show{display:block}
.hide{display:none}

/* common */
.img_g{display:block;width:100%}
.btn_black{display:block;width:406px;margin:0 auto;border:1px solid #cb413e;box-sizing:border-box}
.btn_black .inner_btn{display:block;height:64px;margin:2px;font-weight:bold;line-height:66px;color:#fff;background:#cb413e;text-align:center}
.btn_black:hover{border-color:#c53835}
.btn_black:hover .inner_btn{color:#fbcd3f;background:#c53835}
.area_intro .wrap_upper_btn {padding-top:10px;position:relative;font-size:0;line-height:0;}
.wrap_upper_btn{font-size:0;line-height:0;text-align:center}
.wrap_upper_btn .btn_watch{width:300px;height:80px;display:inline-block;position:relative;right:50px;}
.wrap_upper_btn .btn_watch .img_watch{position:absolute;left:0px;width:69px;height:69px;display:inline-block;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/main/btn_watchtrailer.png) 0 0 no-repeat;opacity:0.7}
.wrap_upper_btn .btn_watch .txt_watch{position:relative;top:37px;left:30px;color:#fff;opacity:0.7;font-size:18px;}
.wrap_upper_btn .btn_watch.de {width:300px;}
.wrap_upper_btn .btn_watch.es {width:200px;}
.wrap_upper_btn .btn_watch.fr {width:350px;}
.wrap_upper_btn .btn_watch.en .txt_watch{left:80px;top:33px;}
.wrap_upper_btn .btn_watch.de .txt_watch{left:80px;top:30px;}
.wrap_upper_btn .btn_watch.fr .txt_watch{left:80px;line-height:20px;top:22px;}
.wrap_upper_btn .btn_watch.es .txt_watch{left:80px;top:34px;}
.wrap_btn{font-size:0;line-height:0;text-align:center}
.wrap_btn .btn_black{display:inline-block;margin:0 12px;vertical-align:top}
.wrap_btn .btn_black .inner_btn{font-size:20px}

.btn_cancel{border-color:#c9c9c9}
.btn_cancel .inner_btn{background:#c9c9c9}
.btn_cancel:hover{border-color:#bebebe}
.btn_cancel:hover .inner_btn{color:#fff;background:#bebebe}
.btn_regist{display:inline-block;width:234px;height:40px;font-weight:bold;font-size:17px;line-height:40px;color:#fff;background:#cb413e;text-align:center;box-sizing:border-box;vertical-align:top}
.btn_regist:hover{color:#f8cd40;background:#c63836}
.btn_regist.disabled{background-color:#ccc;cursor:default}
.btn_regist.disabled:hover{color:#fff}
.txt_num{font-family:'tahoma',sans-serif}
.txt_error{color:#c72b1e}
.txt_require{font-size:20px;color:#cb413e;vertical-align:-5px}
.txt_ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

/* images */
.img_black,
.slide_photo .slick-dots li:first-child:before,
.slide_photo .slick-dots li:last-child:after,
.news_body ul li:before,
.info_order .box_orderbox:before,
.detail_sale .info_order del:after,
.cont_payment .tbl_comm del:after,
.cont_login .list_reason li:before,
.cont_verification .tooltip_print:before,
.reward_layer .bg_edge,
.news_body .image .caption:before,
#cMain{background:#f2f4f7;}

/* HEADER */
.k_head{position:fixed;top:0;left:0;right:0;z-index:100;min-width:1760px;height:92px;background:#181a1f}
.inner_head{position:relative;width:1760px;height:92px;margin:0 auto}
.k_head .tit_black{position:absolute;top:26px;left:0}
#blackLogo{display:block;position:relative;top:-8px;width:185px;height:55px;background-image:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/main/logo_main_di.png);background-repeat:no-repeat;}
#kakaoGnb{height:92px;padding-left:249px}
.gnb_comm{float:left;height:92px;}
.gnb_comm li{float:left;position:relative}
.gnb_comm .link_gnb{display:block;padding:32px 30px 33px;font-weight:bold;font-size:18px;color:#929394}
.gnb_comm.fr .link_gnb{font-size:17px;}
.gnb_comm .link_gnb .ico_arr{width:16px;height:8px;margin:10px 0 0 8px;background-position:-160px 0}
.gnb_comm .link_gnb .ico_download{width:13px;height:11px;margin:9px 0 0 8px;background-position:-160px -10px}
.gnb_comm .gnb_sub .ico_link{width:12px;height:14px;margin:15px 0 0 8px;background-position:-160px -30px}
.gnb_comm .link_gnb:hover{color:#fff}
.gnb_comm .link_gnb:hover .ico_arr{background-position:-180px 0}
.gnb_comm .link_gnb_sub .ico_outlink{width:11px;height:11px;margin:15px 0 0 5px;background-position:-160px -30px}
.gnb_comm .link_gnb_sub:hover .ico_outlink{background-position:-180px -30px}
.gnb_comm .link_gnb .ico_link{width:12px;height:14px;margin:15px 0 0 8px;background-position:-160px -30px;position:relative;top:-7px;left:5px;}
.gnb_with{float:right;position:relative}
.gnb_with li{float:left}
.gnb_with .link_gnb{display:block;padding:32px 35px 33px;font-weight:bold;font-size:18px;color:#dd4441}
.gnb_with .link_gnb:hover{color:#ff5956}
.opt_language{position:relative;padding:35px 35px 33px;cursor:pointer}
.opt_language .link_selected{display:block;font-size:15px;line-height:24px;color:#5d6372}
.opt_language .ico_lang{width:19px;height:19px;margin:2px 5px 0 0;background-position:-200px 0}
.opt_language .txt_abbr{display:none}
.opt_language:hover .link_selected{color:#838b92}
.opt_language:hover .ico_lang{background-position:-200px -20px}
.opt_language:hover .box_opt{display:block}
.gnb_with .btn_buy{width:220px;margin:12px 0 0 35px}
.gnb_with .btn_buy .inner_btn{height:62px;font-size:20px;line-height:63px}
.gnb_with .link_sale{display:block;width:220px;margin-left:35px}
.gnb_with .link_sale .img_g{width:auto}
.gnb_sub, .opt_language .box_opt{display:none;position:absolute;top:73px;left:50%;min-width:180px;margin-left:-90px;padding:10px 0 11px;background:url(../../../akamai-webcdn.kgstatic.net/renewal/static/images/bg_menu.png) 0 0 no-repeat;background-color:#1c1e24;background-size:cover;text-align:center;box-shadow:3px 3px 9px rgba(0,0,0,.6)}
.gnb_sub .list_sub, .opt_language .list_opt{display:inline-block;padding:0 10px;text-align:left;vertical-align:top}
.gnb_sub{overflow:hidden}/* 2019-06-18 추가 */
.gnb_sub li, .opt_language li{float:none}
.gnb_sub .link_gnb_sub, .opt_language .link_option{display:block;height:41px;font-size:15px;line-height:41px;color:#999999;white-space:nowrap;text-transform: uppercase}
.gnb_sub .link_gnb_sub:hover, .opt_language .link_option:hover{color:#fff}
/* 2019-06-18 추가 시작 */
.gnb_sub .list_sub2{position:relative;display:block;padding:9px 0 10px}
.gnb_sub .list_sub2:before{display:block;position:absolute;top:0;left:-300px;right:-300px;bottom:0;background-color:#131418;content:''}
.gnb_sub .link_gnb_sub2{display:block;position:relative;padding:4px 0;font-size:14px;line-height:16px;color:#999999}
.gnb_sub .link_gnb_sub2 .txt_g{position:relative}
.gnb_sub li:hover .link_gnb_sub, .gnb_sub .link_gnb_sub2:hover{color:#fff}
/* // 2019-06-18 추가 끝 */
.gnb_comm li:hover .gnb_sub, .gnb_with li:hover .gnb_sub, .opt_language:hover .box_opt{display:block}

a.anchor {display: block;position: relative;top: -160px;visibility: hidden;}

@media (max-width: 1800px) {
	.k_head{min-width:1280px}
	.inner_head{width:1280px}
	.k_head .tit_black{top:28px}
	#kakaoGnb{padding-left:200px}
	.gnb_comm{max-width:608px;}
	.gnb_comm .link_gnb{padding:34px 21px;font-size:16px;}
	.gnb_comm .link_gnb .ico_arr{margin-top:8px}
	.gnb_comm .link_gnb .ico_download{margin-top:7px}
	.gnb_comm .link_gnb .ico_link {left:-2px;top:-9px;}
	.gnb_with{max-width:550px;}
	.gnb_with .link_gnb{padding:34px 10px;font-size:16px}
	.gnb_with .link_gnb:hover{color:#c53835}
	.gnb_with .btn_buy .inner_btn{font-size:19px;}
	.opt_language{padding:35px 5px 33px 5px}
	.opt_language .txt_lang{display:none}
	.opt_language .txt_abbr{display:inline-block}
	.gnb_with .btn_buy{margin-left:5px}
	.gnb_with .link_sale{margin-left:15px}
}